<div class="container">
  <div class="row">
    <div class="col camer-window">
      <div class="camera-w-header">
        <select
          class="browser-default custom-select"
          (change)="modalOpen($event.target.value)"
        >
          <option selected>Participant 1</option>
          <option value="new-source">Add New Source</option>
          <option value="screenshare">ScreenShare</option>
          <option value="participant">Participant 2</option>
        </select>
        <!--Camera and Microphone Icons-->
        <i class="fa fa-microphone icons-conf" ria-hidden="true"></i>
        <i class="fa fa-video-camera icons-conf" aria-hidden="true"></i>
      </div>
      {{ mData.text }}
    </div>
    <div class="col camer-window" style="text-align: center;">
      <div class="camera-w-header">
        <!--Camera and Microphone Icons-->
        <i class="fa fa-microphone icons-conf" ria-hidden="true"></i>
        <i class="fa fa-video-camera icons-conf" aria-hidden="true"></i>
      </div>
      <!-- {{ mData.url }} -->
      <iframe width="100%" height="100%" frameBorder="0" [src]="mData.url | safe: 'resourceUrl'"></iframe>
    </div>
    <div class="w-100"></div>
    <div class="col camer-window">
      <div class="camera-w-header">
        <!--Camera and Microphone Icons-->
        <i class="fa fa-microphone icons-conf" ria-hidden="true"></i>
        <i class="fa fa-video-camera icons-conf" aria-hidden="true"></i>
      </div>
      <!-- {{mData.code}} -->
      <div class="top-image" [innerHTML]="mData.code | safe: 'html'" style="width: 100%;height: 100%;"></div>
    </div>
    <div class="col camer-window">
      <div class="camera-w-header">
        <!--Camera and Microphone Icons-->
        <i class="fa fa-microphone icons-conf" ria-hidden="true"></i>
        <i class="fa fa-video-camera icons-conf" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
<app-modal
  (textEmitter)="recieveData($event)"
  style="width: auto; height: auto;"
></app-modal>
