.camer-window {
  height: 320px;
  background-color: #f4f5f4;
  margin: 8px;
  padding: 0;
  box-shadow: 3px 3px 5px 6px #ccc;
}
.camera-w-header {
  background-color: #1d2734;
  height: 27px;
  padding: 0px;
}

.custom-control-label::before,
.custom-file-label,
.custom-select {
  transition: none;
  border: none;
  background: transparent;
  width: 128px;
  padding: 0;
  height: 24px;
}

.icons-conf{
  color:white;
  margin-right: 13px;
  float: right;
  margin-top: 5px;
}

