<ng-template #content let-c="close" let-d="dismiss" class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Source :</h4>
    <!--Close modal Buttom-->
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--Buttons to select tab-->
    <div class="options-position">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <!--Text tab-->
        <li class="nav-item">
          <a
            class="nav-link active end-buttom-left"
            id="pills-text-tab"
            data-toggle="pill"
            href="#pills-text"
            role="tab"
            aria-controls="pills-text"
            aria-selected="true"
            >Text</a
          >
        </li>
        <!--URL tab-->
        <li class="nav-item">
          <a
            class="nav-link"
            id="pills-url-tab"
            data-toggle="pill"
            href="#pills-url"
            role="tab"
            aria-controls="pills-url"
            aria-selected="false"
            >URL</a
          >
        </li>
        <!--Embed tab-->
        <li class="nav-item">
          <a
            class="nav-link"
            id="pills-embed-tab"
            data-toggle="pill"
            href="#pills-embed"
            role="tab"
            aria-controls="pills-embed"
            aria-selected="false"
            >Embed</a
          >
        </li>
        <!--Webcam tab-->
        <li class="nav-item">
          <a
            class="nav-link"
            id="pills-webcam-tab"
            data-toggle="pill"
            href="#pills-webcam"
            role="tab"
            aria-controls="pills-webcam"
            aria-selected="false"
            >WebCam</a
          >
        </li>
        <!--Poll tab-->
        <li class="nav-item">
          <a
            class="nav-link"
            id="pills-poll-tab"
            data-toggle="pill"
            href="#pills-poll"
            role="tab"
            aria-controls="pills-poll"
            aria-selected="false"
            >Poll</a
          >
        </li>
        <!--Offer tab-->
        <li class="nav-item">
          <a
            class="nav-link"
            id="pills-offer-tab"
            data-toggle="pill"
            href="#pills-offer"
            role="tab"
            aria-controls="pills-offer"
            aria-selected="false"
            >Offer</a
          >
        </li>
        <!--ScreenShare tab-->
        <li class="nav-item">
          <a
            class="nav-link end-buttom-right"
            id="pills-screenshare-tab"
            data-toggle="pill"
            href="#pills-screenshare"
            role="tab"
            aria-controls="pills-screenshare"
            aria-selected="false"
            >Screen Share</a
          >
        </li>
      </ul>
    </div>
    <!--Content from TABS-->
    <div class="tab-content" id="pills-tabContent">
      <!--Text Content-->
      <div
        class="tab-pane fade show active"
        id="pills-text"
        role="tabpanel"
        aria-labelledby="pills-text-tab"
      >
        <div class="form-group green-border-focus">
          <label for="exampleFormControlTextarea5">Add Text :</label>
          <textarea
            class="form-control"
            id="textarea"
            rows="3"
            [(ngModel)]="mData.text"
          ></textarea>
        </div>
      </div>
      <!--URL Content-->
      <div
        class="tab-pane fade"
        id="pills-url"
        role="tabpanel"
        aria-labelledby="pills-url-tab"
      >
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg"
              >Add URL:</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Large"
            aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="mData.url"
          />
        </div>
      </div>
      <!--embed Content-->
      <div
        class="tab-pane fade"
        id="pills-embed"
        role="tabpanel"
        aria-labelledby="pills-embed-tab"
      >
        <div class="form-group green-border-focus">
          <label for="exampleFormControlTextarea5">Add Embed Code : </label>
          <textarea
            class="form-control"
            rows="3"
            id="embedCode"
            [(ngModel)]="mData.code"
          ></textarea>
        </div>
      </div>
      <!--Webcam Content-->
      <div
        class="tab-pane fade"
        id="pills-webcam"
        role="tabpanel"
        aria-labelledby="pills-webcam-tab"
      >
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            Add Webcam:
          </div>
        </div>
      </div>
      <!--Poll Content-->
      <div
        class="tab-pane fade"
        id="pills-poll"
        role="tabpanel"
        aria-labelledby="pills-poll-tab"
      >
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            Add Poll:
          </div>
        </div>
      </div>
      <!--Offer Content-->
      <div
        class="tab-pane fade"
        id="pills-offer"
        role="tabpanel"
        aria-labelledby="pills-offer-tab"
      >
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            Add Offer:
          </div>
        </div>
      </div>
      <!--ScreenShare Content-->
      <div
        class="tab-pane fade"
        id="pills-screenshare"
        role="tabpanel"
        aria-labelledby="pills-screenshare-tab"
      >
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            Add ScreenShare:
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="d('Cross click')">
      Close
    </button>
    <button type="button" class="btn btn-primary" (click)="sendText()">
      Add Source
    </button>
  </div>
</ng-template>
