.modal-content {
    width: 750px;
    height: 750px;
}
.nav-pills .nav-link {
    background-color: #bfbcbc;
    color: white;
    height: 30px;
    text-align: center;
    font-size: 11px;
    margin: 1px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #007bff;
}
.nav-pills .nav-link {
    border-radius: 0;
}
.nav-pills .nav-link.end-buttom-left{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.nav-pills .nav-link.end-buttom-right{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}