.custom-control-label::before,
.custom-file-label,
.custom-select {
  width: 99px;
  border: 0;
  margin-left: 5px;
}
/*Menu left*/
.column {
  float: left;
  width: 54px;
  margin: 0;
  height: 100vh;
  background-color: #1d2734 !important;
}
.head-status-btn {
  height: 25px;
  padding: 0;
  width: 56px;
  margin-left: 10px;
}
/*Menu Right*/
.column-right {
  float: right;
  width: 20%;
  height: 100vh;

  background-color: #f1f1f1 !important;
}
.column-right-contracted {
  float: right;
  width: 4%;
  height: 600px;
  background-color: #f1f1f1 !important;
}

/*screen preview*/
.screen-preview {
  height: 139px;
  margin: 9px;
  width: auto;
  background-color: #cecece;
  /**Text Position**/
  color: gray;
  line-height: 138px;
  text-align: center;
}
/*header inside Sreen preview Section*/
.mini-header {
  height: 50px;
  background-color: #f9f7f7;
  border-bottom: 0.5px solid #cecece;
}
.nav-extra {
  padding: 0;
  border-bottom: 0.5px solid #cecece;
}
