<nav class="navbar navbar-expand-lg navbar-light bg-light nav-extra">
  <div
    style="
      width: 54px;
      height: 54px;
      background-color: #e4e4e4;
      margin-right: 25px;
    "
  ></div>
  <h4><strong>Broadcast</strong></h4>
  <button class="btn btn-success head-status-btn">Live</button>
  <button class="btn btn-light head-status-btn">Stop</button>
  <div class="collapse navbar-collapse" id="navbarText"></div>
  <select class="browser-default custom-select">
    <option selected>Layouts</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <select class="browser-default custom-select">
    <option selected>User</option>
    <option value="1">user</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</nav>
<div>
  <!-- Left Menu Options-->
  <div class="column">
    <img src="assets/icons/icon-antenna.svg" style="margin: 13px;" />
    <i
      class="fa fa-users fa-6"
      style="font-size: 20px; color: #ced2d6; margin: 14px;"
    ></i>
  </div>
</div>
<!--Right Section to show previous screen--->
<!--Show Previous screen menu-->
<div *ngIf="!show" class="column-right-contracted">
  <!--mini header-->
  <div class="mini-header">
    <!--Show Previou-->
    <img
      (click)="toggle()"
      src="assets/icons/icon-sidebar-expand.svg"
      style="margin: 13px;"
    />
  </div>
</div>
<!--Hide previous screen menu-->
<div *ngIf="show" class="column-right">
  <!--mini header-->
  <div class="mini-header">
    <!--Hide Previou-->
    <img
      (click)="toggle()"
      src="assets/icons/icon-sidebar-collapse.svg"
      style="margin: 13px; float: right;"
    />
    <p style="padding: 10px;">Next Up...</p>
  </div>
  <!--Previus screen-->
  <div class="screen-preview">
    <p>Preview</p>
  </div>
  <div  style="text-align: center;">
    <button class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true">Add New Source</i>
    </button>
  </div>
</div>
<!--Modal Component-->
<app-windows-meeting></app-windows-meeting>
